{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

Hi {{ user.username }}
<p><a href="{% url 'logout' %}">Logout</a></p>

<h3>File upload.</h3>

{% include 'upload.html' %}

{% else %}
<p>
    You are not logged in. Please log in.
</p>

<a href="{% url 'login' %}">Login</a>

{% endif %}

{% endblock %}
